.messagesContainer {
	height: 500px;
	overflow-y: scroll;
}

.message {
	border: 1px solid #1677ff;
	background-color: rgba(22, 119, 255, 0.5);
	margin: 10px;
	padding: 10px;
}

.message > a > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.text {
	font-weight: bold;
}
