.message {
	border: 1px solid navy;
	padding: 10px;
	margin: 10px;
}
.wrapper > textarea {
	max-width: 200px;
	margin: 10px;
	padding: 10px;
}
.wrapper > button {
    margin: 5px;
}
.owner {
	color: blueviolet;
}
.userName {
	color: red;
}
