div .logo {
    width: 50px;
    padding: 5px;
}

.header {
    grid-area: h;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

div .loginBlock {
    color: white;

}

.loginBlock a {
    color: white;
    text-decoration: none;
}