div .logo {
    width: 50px;
    padding: 5px;
}

.header {
    grid-area: h;
    background-color: blueviolet;
}

div .loginBlock {
    float: right;
background-color: black;
}

.loginBlock a {

    color: white;
    text-decoration: none;
}