.formControl {


}

.formControl.error input {

}

.formControl.error textarea {
    border: red solid 1px;
}
.formControl.error span {
   color: red;
}

.formSummaryError {
    border: red solid 1px;
}
