.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	background-color: blueviolet;
}

.item {
	padding: 2px;
}

.item a {
	text-decoration: none;
	color: white;
	padding: 2px;
}
.message {
	color: white;
	padding: 2px;
}

.item a.active {
	color: black;
	font-weight: bold;
}
